/dev/oncrpc/*               0660   radio    system
/dev/akm8973                0660   system     system
/dev/accelerometer          0660   system   system
/dev/msm_camera/*           0660   system   camera
/dev/smdcntl0               0640   radio    radio
/dev/smdcntl1               0640   radio    radio
/dev/smdcntl2               0640   radio    radio
/dev/taos                   0660   system   system
/dev/ISL                    0660   system   system
/dev/lis302dl               0660   system   system
/dev/adxl34x                0660   system   system
/dev/si4708                 0660   system   system
/dev/msm_preproc_ctl        0660   system   audio
/dev/pmem_audio             0660   system   audio
/dev/msm_amrnb              0660   system   audio
/dev/msm_amrwb              0660   system   audio
/dev/msm_aac                0660   system   audio
/dev/msm_qcelp              0660   system   audio
/dev/msm_evrc               0660   system   audio
/dev/msm_fm                 0660   system   audio
/dev/msm_acdb               0660   system   audio
/dev/msm_wma                0660   system   audio
/dev/msm_wmapro             0660   system   audio
/dev/msm_qcelp_in           0660   system   audio
/dev/msm_evrc_in            0660   system   audio
/dev/msm_a2dp_in            0640   system   audio
/dev/msm_amrnb_in           0640   system   audio
/dev/system_bus_freq        0666   system   system
/dev/genlock                0666   root     system
/dev/ttyHS0                 0660   root     system
/dev/pmem_venc              0660   system   audio
/dev/msm_rotator            0666   system   graphics
/dev/graphics/fb0           0666   graphics graphics
/dev/msm_vidc*              0660   system   graphics
/dev/genlock                0666   root     root
/dev/kgsl-3d0               0666   root     root
/dev/kgsl-2d0               0666   root     root
/dev/kgsl-2d1               0666   root     root
## VPN
/dev/ppp                    0660   radio    vpn
/dev/tun                    0660   system   vpn
/dev/pmem_smipool*          0660   system   camera
